.soc {
    width:500px;
    height:70px;
}
.social-links  {
    list-style:none;
    a {
        display: block;
        float: left;
        width: 64px;
        height: 64px;
    }
    }
$icons:(facebook,twitter,youtube);

@each $social in $icons {
    .#{$social} {
        background-image: url('../img/#{$social}.png');
    }
}

@each $p in (
    one black,
    two black +20,
    three black +40
){
    .#{nth($p, 1)} {background:#{nth($p, 2)}; }
}
.main {
    max-width:90%;
    margin:0 auto;
}
.test{
    width:round(percentage(325 / 1000));
    background-color: red;
    float: left;
}
.test2{
    width:round(percentage(665 / 1000));
    float: right;
    background-color: green;
}
@for $i from 1 through 3 {
    .one-#{$i} {font-size : 10px * $i}
}
