.soc {
  width: 500px;
  height: 70px; }

.social-links {
  list-style: none; }
  .social-links a {
    display: block;
    float: left;
    width: 64px;
    height: 64px; }

.facebook {
  background-image: url("../img/facebook.png"); }

.twitter {
  background-image: url("../img/twitter.png"); }

.youtube {
  background-image: url("../img/youtube.png"); }

.one {
  background: black; }

.two {
  background: #141414; }

.three {
  background: #282828; }

.main {
  max-width: 90%;
  margin: 0 auto; }

.test {
  width: 33%;
  background-color: red;
  float: left; }

.test2 {
  width: 67%;
  float: right;
  background-color: green; }

.one-1 {
  font-size: 10px; }

.one-2 {
  font-size: 20px; }

.one-3 {
  font-size: 30px; }

/*# sourceMappingURL=style.css.map */
